{% extends 'base.html' %}

{% block title %}Delete Order{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Delete Order</h1>
    <p>Are you sure you want to delete the order for "{{ pos.nama_barang.nama_barang }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes, delete</button>
        <a href="{% url 'pos_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
